:root {
  --header-height: 44px;
  --main-padding: 20px;

  --main-theme-color: rgb(219, 76, 63);
  --main-theme-secondary-color: #e27065;
  --off-main-background-color: rgb(250, 250, 250);
  --off-main-selected-background-color: rgb(238, 238, 238);
  --main-background-color: white;

  --task-color: rgb(184, 184, 184);

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

h1, h3, h4, p {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: var(--header-height);
  background-color: var(--main-theme-color);
}

.header-left {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--main-background-color);
  margin-left: var(--main-padding);
}

.header-right{
  display: flex;
  align-items: center;
  margin-right: var(--main-padding);
}

.header-right img {
  height: calc(var(--header-height) - 8px);
  border-radius: calc(calc(var(--header-height) - 8px)/2);
}

.main-body {
  display: flex;
  height: calc(100vh - var(--header-height));
}

nav {
  background-color: var(--off-main-background-color);
  width: 300px;
  padding: calc(var(--main-padding) - 5px);
}

.filters {
  margin-top: 15px;
  margin-bottom: calc(calc(15px + var(--main-padding)) - 5px);
}

.nav-label {
  display: flex;
  justify-content: space-between;
}

.nav-label:hover {
  background-color: var(--off-main-selected-background-color);
  border-radius: 5px;
}

.nav-label img {
  height: 2rem;
  margin-right: 10px;
}

.nav-label-left,
.nav-label-right {
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.projects h4 {
  margin-bottom: 10px;
}

.dot {
  height: 14px;
  width: 14px;
  border-radius: 7px;
  margin-right: 20px;
  background-color: var(--task-color);
}

.main-dot {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  margin-right: 20px;
  background-color: var(--task-color);
}

#project-name {
  background-color: red;
}

#project-name2 {
  background-color: green;
}

main {
  margin: var(--main-padding);

  background-color: var(--main-background-color);
  flex: 1;
}

.project-header {
  display: flex;
  align-items: center;
}

.high-priority {
  margin-top: 20px;
  padding: 20px;
  background-color: var(--main-theme-color);
  border-radius: 10px;
  color: white;
}

.main-label {
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: var(--off-main-background-color);
  border-radius: 10px;
}

.high-priority .main-label {
  background-color: var(--main-theme-secondary-color);
}

.high-priority .main-label:hover {
  background-color: var(--off-main-background-color);
  color: black;
  border-color: black;
}

.regular-priority {
  margin-top: 20px;
  padding: 20px;
  background-color: var(--main-background-color);
  border-radius: 10px;
  color: black;
}

.regular-priority .main-label {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.regular-priority .main-label:hover {
  background-color: var(--main-theme-secondary-color);
  color: black;
  border-color: black;
}

.main-label span:hover {
  cursor: pointer;
}

.task-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  border-right: 3px solid var(--main-theme-color);
}

.task-info img {
  height: 12px;
  width: 12px;
}

.task-description {
  margin-left: 20px;
}